name: CI

on:
  push:
    paths-ignore:
      - 'README.md'
    branches:
      - main
    tags:
      - v*.*
  pull_request:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python-version: [ "3.10", "3.11", "3.12", "3.13" ]
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Set up Python
        id: setup-python
        uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python-version }}

      - name: Run linting
        run: |
          make lint

      - name: Run tests
        run: |
          make test
  release:
    needs: test
    runs-on: ubuntu-latest
    environment:
      name: pypi
      url: https://pypi.org/p/plux
    permissions:
      id-token: write
    if: github.event_name == 'push' && startsWith(github.ref, 'refs/tags/v')
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Set up Python
        id: setup-python
        uses: actions/setup-python@v6
        with:
          python-version: '3.13' 

      - name: Build release
        run: make dist

      - name: List artifacts
        run: ls -lah dist/

      - name: Publish package distributions to PyPI
        uses: pypa/gh-action-pypi-publish@release/v1